
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}


body {
    height: 100%;
    background: url('/images/hero-squad-background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.template-content{
    margin-top: 50px;
}

.title{
    font-family: 'Bangers', cursive;
    color: #455A64;
    text-shadow: 3px 3px #263238;
    letter-spacing: 5px;
}


.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100%;
    background-color: #9D0208;
}
.navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navbar a {
    margin-top: 0px;
}

.card{
    margin-bottom: 10px;
}

.btn-group{
    margin-bottom: 10px;
}
