

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background-image: image("/images/hero-squad-backgroung.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    height: 7vh;
    width: 100%;
    background-color: #9D0208;
}