
<!DOCTYPE html>
<html>
    <head>
        <title>{{#block "title"}}Hero Squad{{/block}}</title>
        <link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/000000/ninja-head.png">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>

        <nav class="navbar">
            <a class="navbar-brand" href="/">
                <img src="https://img.icons8.com/color/100/000000/ninja-head.png" width="70" height="70" class="d-inline-block align-top" alt="" loading="lazy">
                <p class="title">Hero Squad</p> 
            </a>
        </nav>

<!-- begin inner template-->
        <div class="container">
            
            {{#block "content"}}
            {{/block}}

        </div>
<!-- end inner template-->

    </body>
</html>