
{{#block "header"}}

    <!DOCTYPE html>
    <html>
        <head>
            <link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/96/000000/ninja-head.png">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">            
            <link rel="stylesheet" href="/styles/main.css">
            <title>Hero Squad</title>
        </head>
        <body>
{{/block}}

        <nav class="navbar ">
            <a class="navbar-brand" href="/">
            <img src="https://img.icons8.com/color/96/000000/ninja-head.png" width="70" height="70" class="d-inline-block align-top" alt="ninja-head" loading="lazy">
            <h1 class="title">Hero Squad</h1>
            </a>
        </nav>
        

    <!-- begin inner template-->
        <div class="container">

            {{#block "content"}}
            {{/block}}

        </div>
    <!-- end inner template-->
{{#block "footer"}}
        </body>
    </html>
{{/block}}
